{#% extends '@FMElfinderBundle/elfinder_widget.html.twig' %#}

{% block elfinder_widget %}
    <div class="elfinder">
        <input type="hidden" class="form-control" data-elfinder-id="{{ id }}" readonly {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} />
        {% if enable and instance is defined %}
            <script>
                if ('undefined' === typeof window.elfinderSettings) {
                    window.elfinderSettings = {
                        urls: {},
                        messages: {
                            'Confirm remove image': {{ 'Confirm remove image'|trans|json_encode|raw }},
                            'Confirm replace image': {{ 'Confirm replace image'|trans|json_encode|raw }},
                            'Move image left': {{ 'Move image left'|trans|json_encode|raw }},
                            'Move image right': {{ 'Move image right'|trans|json_encode|raw }},
                            'Add image after': {{ 'Add image after'|trans|json_encode|raw }},
                            'Remove image': {{ 'Remove image'|trans|json_encode|raw }},
                            'Replace image': {{ 'Replace image'|trans|json_encode|raw }},
                            'Add image': {{ 'Add image'|trans|json_encode|raw }}
                        }
                    }
                }
                window.elfinderSettings.urls[{{ id|json_encode|raw }}] = {{ path('elfinder', {'instance': instance, 'homeFolder': homeFolder})|json_encode|raw }}
            </script>
        {% endif %}
    </div>
{% endblock %}
